@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String, connected: Boolean, user: model.User, cl: List[model.Course], c: model.Course = null)(implicit flash: Flash)

@script = {
	$("#evaluatorNavbar").find("a:contains('Cours')").parent().addClass('active');
}

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(message, connected, user)(script) {

@if(c != null) {
	@if(flash.get("subscribeSuccess")) {
	<div class="alert alert-success">
		Vous êtes maintenant inscrit à ce cours !
	</div>
	}
	
	@if(flash.get("subscribeFailure")) {
	<div class="alert alert-danger">
		Une erreur s'est produite. Veuillez réessayer !
	</div>
	}
<div class="container-fluid">
	<div class="jumbotron">
		<h1>Cours @c.getName</h1>
		<div class="jumbotron">
			@Html(c.getContent)
		</div>
		@if(c.getSurveys == Nil || c.getSurveys.size == 0) {
			<h1>Questionnaires</h1>
			<div class="alert alert-info">
				Ce cours ne contient aucun questionnaires.
			</div>
		} else {
			<h1>Questionnaires</h1>
			<div class="list-group">
				@for(s <- c.getSurveys) {
					<a href="/cours/@c.getID/surveys/@(s.id).html" class="list-group-item list-group-item-action">@s.toString</a>
				}
			</div>
		}
		<h3>Ajouter un questionnaire</h3>
		<div class="list-group">
			<a href="/cours/@c.getID/newsurvey.html" class="list-group-item list-group-item-action">Cliquez ici pour ajouter un questionnaire</a>
		</div>
		<h1>Etudiants</h1>
		<div class="list-group">
			<a href="#" class="list-group-item list-group-item-action">@c.getStudents.size étudiants inscrits</a>
			@if(user.isInstanceOf[model.Student]) {
				@if(c.getStudents.contains(user.getID)) {
					<a href="#" class="list-group-item list-group-item-action">Vous êtes déjà inscrit !</a>
				} else {
					<a href="/api/suscribe/@c.getID" class="list-group-item list-group-item-action">S'inscrire à ce cours</a>					
				}
			}
		</div>
	</div>
</div>		
} else {
<div class="container-fluid">
	<div class="jumbotron">
		@if(flash.get("courseSuccess")) {
			<div class="alert alert-success">
				Le cours a été enregistré avec succès !
			</div>
		}
		<h2>Ajouter un cours</h1>
		<div class="list-group">
			<a href="/newcours.html" class="list-group-item list-group-item-action">Cliquez ici pour ajouter un cours</a>
		</div>
		
		<h1>Liste des cours</h1>
		@if(cl.equals(Nil)) {
			<div class="alert alert-info">
				Il n'y a aucun cours pour l'instant.
			</div>
		} else {
			<div class="list-group">
				@for(c <- cl) {
					<a href="/cours/@{c.getID}.html" class="list-group-item list-group-item-action">@c.getName</a>
				}
			</div>
		}
	</div>
</div>	
}

}
