@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String, connected: Boolean, user: model.Professor, c: model.Course)(implicit flash: Flash)

@script = {
	var questionsCount = 0;
	
	function promptQuestionQCM() {
		var qcmPossibilites = 3;
		var qcmStrings = [];
		var goodAnswers = "";
		var intitule = prompt("Veuillez entrer l'intitulé de la question", "");
		
		if (intitule != null && intitule != "") {
			qcmPossibilites = prompt("Combien y a t-il de possibilités ?", qcmPossibilites.toString());
			
			for (i = 0; i < qcmPossibilites; i++) {
				var aString = prompt("Entrez la possibilite " + (i+1), "");
				if (aString != null && aString != "") {
					qcmStrings.push(aString);
				}
			}
			
			if (qcmStrings.length == parseInt(qcmPossibilites)) {
				goodAnswers = prompt("Quelles sont la/les bonnes réponses (ex : 1 ou 1|3) ?");
				
				if (goodAnswers != null && goodAnswers != "") {
					var codeFinal = `
					<div class="form-group" id="questionContent">
						<input type="hidden" id="hidden" name="${questionsCount+1}questionType" value="qcm">
						<input type="hidden" id="hidden" name="${questionsCount+1}qcmPossibilities" value="${qcmPossibilites}">
						<label for="questionQuestion">Intitulé Question QCM ${questionsCount+1}</label>
						<input type="text" class="form-control" name="${questionsCount+1}questionQuestion" id="questionQuestion" aria-describedby="questionQuestionHelp" value="${intitule}">
						<div class="list-group">
					`;
					
					for (i = 0; i < qcmPossibilites; i++) {
						var markActive = i+1;
						if (goodAnswers.indexOf(markActive.toString()) > -1) {
							codeFinal += `
								<input type="hidden" id="hidden" name="${questionsCount+1}qcmString${i+1}" value="${qcmStrings[i]}">
								<a href="#" class="list-group-item active">${qcmStrings[i]}</a>
							`;
						} else {
							codeFinal += `
								<input type="hidden" id="hidden" name="${questionsCount+1}qcmString${i+1}" value="${qcmStrings[i]}">
								<a href="#" class="list-group-item">${qcmStrings[i]}</a>
							`;				
						}
					}
					
					codeFinal += `
						<input type="hidden" id="hidden" name="${questionsCount+1}goodAnswers" value="${goodAnswers}"
						</div>
					`;
					
					$("#questionTypeDiv").append(codeFinal);
					questionsCount++;
				}
			}
		}
	}
	
	function promptQuestionCode() {
		var intitule = prompt("Veuillez entrer l'intitulé de la question", "");
		var functionName = prompt("Quel est le nom de la fonction devant être appelée dans le code fourni par l'étudiant ?", "");
		var argumentsCount = prompt("Combien la fonction accepte d'arguments ?", "");
		var argumentsType = [];
		
		for (i = 0; i < argumentsCount; i++) {
			var argType = prompt("Quel est le type de l'argument " + i+1 + " attendu ? (i pour Entier, f pour Flottant, s pour String, v pour void)");
			if (argType != null && argType != "" && (argType == "i" || argType == "f" || argType == "s")) {
				argumentsType.push(argType);
			}
		}
			
		if (argumentsType.length == parseInt(argumentsCount)) {
			var funcReturnType = prompt("Que doit retourner la fonction ? (i pour Entier, f pour Flottant, s pour String)");
			
			var expectationsCount = prompt("Combien de fois souhaitez-vous tester la fonction ?", "");
			expectationsCount = parseInt(expectationsCount);
			var expectations = [];
			var forArgs = [];
			
			alert("On va maintenant vous demander ce que doit retourner la fonction pour quel argument !");
			
			for (i = 0; i < expectationsCount; i++) {
				var anExpectation = prompt("Que doit retourner la fonction ?", "");
				var anArg = prompt("Pour quel argument ? (void si pas d'argument)", "");
				if (anExpectation != null && anExpectation != "" && anArg != null && anArg != "") {
					expectations.push(anExpectation);
					forArgs.push(anArg);
				}
			}
			
			if (expectations.length == expectationsCount && forArgs.length > 0) {
				var codeFinal = `
					<div class="form-group" id="questionContent">
						<input type="hidden" id="hidden" name="${questionsCount+1}questionType" value="code">
						<input type="hidden" id="hidden" name="${questionsCount+1}functionName" value="${functionName}">
						<input type="hidden" id="hidden" name="${questionsCount+1}argumentsCount" value="${argumentsCount}">
						<input type="hidden" id="hidden" name="${questionsCount+1}argumentsType" value="${argumentsType.join()}">
						<input type="hidden" id="hidden" name="${questionsCount+1}funcReturnType" value="${funcReturnType}">
						<input type="hidden" id="hidden" name="${questionsCount+1}expectationsCount" value="${expectationsCount}">
						<label for="questionQuestion">Intitulé Question ${questionsCount+1}</label>
						<input type="text" class="form-control" name="${questionsCount+1}questionQuestion" id="questionQuestion" aria-describedby="questionQuestionHelp" value="${intitule}">
						<div class="list-group">
					`;

					codeFinal += `
						<input type="hidden" id="hidden" name="${questionsCount+1}expectations" value="${expectations.join()}">
						<input type="hidden" id="hidden" name="${questionsCount+1}forArgs" value="${forArgs.join()}">
					`;
					
				for (i = 0; i < expectationsCount; i++) {
					codeFinal += `
						<a href="#" class="list-group-item active">La fonction ${functionName} devra retourner : ${expectations[i]} pour ${forArgs[i]}</a>
					`;
				}
			}
			
			$("#questionTypeDiv").append(codeFinal);
			questionsCount++;
		}
	}
	
	function promptQuestion() {
		var questionType = $("#questionType").val();
		if (questionType === "qcm") {
			promptQuestionQCM();
		} else if (questionType === "code") {
			promptQuestionCode();
		}
	}
		
	$(document).ready(function () {
		$('#validate').click(function() {
			promptQuestion();
		});
	})
}

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(message, connected, user)(script) {
<div class="container-fluid">
	<div class="jumbotron">
		<h1>Nouveau Questionnaire</h1>
		<form method="post" action="/api/newsurvey" id="surveyForm">
			<input type="hidden" id="hidden" name="courseId" value="@c.getID">
			<div class="form-group" id="questionTypeDiv">
				<div class="form-group">
					<label for="questionType">Ajouter une question avec type</label>
					<select class="selectpicker" id="questionType" class="form-control" aria-describedby="questionTypeHelp">
						<option value="qcm">QCM</option>
						<option value="code">Code</option>
					</select>
					<button type="button" class="btn btn-primary" value="Valider" id="validate">Valider</button>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Enregistrer</button>
			</div>
		</form>
	</div>
</div>
}
